@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

@theme {
	--font-sans: "font", sans-serif;
	--font-mono: "monospace", monospace;
}

.site-logo {
	filter: invert(1);
}

.dark .site-logo {
	filter: none;
}
